<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ConexaoSQLServer" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=Clientes;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>